.pokemonList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: auto;
  gap: 0.5rem;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  justify-items: center;
  background-size: cover;
}
